:root {
	--vraiMarron : #6B3A04;
	--orange : #FF4D00;
	--nuitInvader : #291952;
	--jauneInvader : #FFC200;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
}

or {
	color: var(--orange);
}

enter {
	position: relative;
	animation-name: float; 
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes float {
    from {top: 0px;}
    to {top: 6px;}
}

firstScreen {
	background-color: var(--nuitInvader);
	background-image: url("debut.png");
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
}

#begin {
	position: absolute;
	top: 25vh;
	width: 100vw;
	text-align: center;
	animation-name: float2; 
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes float2 {
    from {top: 25vh;}
    to {top: 26vh;}
}

#title {
	position: absolute;
	color: var(--orange);
	font-size: 50px;
	font-family: Arial;
	text-align: center;
	width: 100vw;
	top: 50vh;
	max-height: 10vh;
	text-shadow: 0 0 7px white;
}

#enterFirst {
	position: absolute;
	color: var(--orange);
	font-size: 30px;
	font-family: Arial;
	text-align: center;
	width: 100vw;
	top: 65vh;
	text-shadow: 0 0 7px white;
}

#copyright {
	position: absolute;
	color: white;
	font-size: 10px;
	font-family: Helvetica;
	text-align: right;
	width: 70vw;
	left: 15vw;
	bottom: 20vh;
	text-align: center;
	text-shadow: 0 0 5px var(--orange);
}


.message {
	position: absolute;
	top: 40vh;
	left: 30vw;
	z-index: 199;
	background-color: rgba(77, 51, 143, 0.8);
	border-radius: 30px;
	box-shadow: 0 0 8px #4D338F;
	color: white;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 1px;
	padding: 20px 12px 20px 12px;
	text-align: justify;
	width: 50vw;
	height: auto;
}
.message::after {
    content: "";
    position: absolute;
    top: 100%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 30px;
    border-top: 30px solid rgba(77, 51, 143, 0.8);
    box-shadow: 0 0 8px #4D338F;
    left: 70%;
}

cadre {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 99;
	background-image: url("cadre.png");
	background-size: cover;
	background-position: 50% 50%;
}

world {
	background-color: skyblue;
	background-image: url("fond.png");
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	z-index: 100;
	height: 100vh;
	width: 100vw;
}

personnages {
	position: absolute;
	bottom: 20vh;
	height: 15vh;
	width: 100vw;
	z-index: 0;
}

mazars, invader {
	height: 15vh;
	/*width: 10vw;*/
	bottom: 0;
	object-fit: cover;
	position: absolute;
}

invader:last-of-type img {
	height: 15vh;
	width: auto;
}

mazars {
	top: 15px;
	z-index: 10;
}

invader {
	z-index: 5;
}

img {
	height: 15vh;
	width: 10vw;
}

#messageEnd{
	position: absolute;
	color: var(--jauneInvader);
	font-size: 50px;
	font-family: Arial;
	text-align: center;
	width: 100vw;
	top: 50vh;
	max-height: 10vh;
	text-shadow: 0 0 7px white;
}
#messageEnd a {
	color: white;
	padding-bottom: 10px;
	border-bottom: 0px solid var(--orange);
	transition: text-shadow 0.5s, border-bottom 0.5s;
	text-decoration: none;
}
#messageEnd a:hover {
	color: white;
	text-shadow: 0 0 5px var(--orange);
	border-bottom: 9px solid var(--orange);
}

end{
	background-color: var(--nuitInvader);
	background-image: url("cadre.png");
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
}